*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
    font-family: 'helvetica', sans-serif;
    font-weight: normal;
    ::-webkit-scrollbar{
        display: none;
    }
}
body{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    background-color: black;
    .dictionary{
        position: absolute;
        left: 1.5vw;
    }
    nav{
        font-size: 0;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        padding-top: 1.25vw;
        z-index: 99;
        font-weight: bold;
        .dictionary{
            font-size: 0.8vw;
            color:silver;
            margin-left: 0.5vw;
            cursor: help;
        }
        .variation{
            font-size: 0.8vw;
            color:silver;
            float: right;
            clear: right;
            margin-right: 2vw;
            cursor: help;
        }
    }

    #footer{
        position:relative;
        bottom: 4.5vh; 
        width: 100%;
        background-color: black;
        text-align: center;
        justify-content:center;
        .cho{text-align: right;
            font-size: 0.8vw;
            color:silver;
    
    }
    }

}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

section{
    display: block;
    width: 90vw;
    height: auto;
    margin: auto;
    margin-top: 8.5vh;
    margin-bottom: 10vh;
    background-color: white;
    li {
        list-style: none;
        font-size: 1.25vw;
        text-align: match-parent;
    }
}
.name{
    position: relative;
    display: inline-block;
    top: 0;
    width: calc(100% / 3);
    height: 25vw;
    cursor: pointer;
    border: 0.1vw dashed;
}

    a{
        text-decoration: none;
        color: black;
        font-size: 3.4vw;
        text-align: center;
        margin-top: 10px;
    }

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9000;
  }

  #popup {
    position: absolute;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 430px;
    width: 80%;
    z-index: 1001;
    line-height: 29px;
    #center {
        display: block; 
        text-align: center; /* 텍스트를 가운데 정렬 */
        margin: 0 auto; /* 블록 요소를 가운데 정렬 */
    }
  }

  #close-popup {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
  }